$sliderSize: 250px;
body {
  background-color: #222;
  color: #ddd;
}
#fileDrop {
  border: 0.2em dashed #ff4d4d;
  width: 95%;
  margin-left: 2%;
  height: 5em;
  padding-top: 2em;
  text-align: center;
}
#previewControls {
  > div {
    vertical-align: top;
    display: inline-block;
  }
  div > datalist {
    display: flex;
    justify-content: space-between;
    width: $sliderSize;
    > option {
      padding: 0;
    }
  }
  input[type="range"] {
    width: $sliderSize;
    margin: 0;
    accent-color: #c50;
    color: red;
  }
}
