.centerHouse {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}
label.toggle-button input[type="checkbox"] {
  display: none;
}

label.toggle-button input[type="checkbox"]:not(:checked) + span::after {
  font-family: tme-fa-icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  content: "\00a0\00a0\e830";
}

label.toggle-button input[type="checkbox"]:checked + span::after {
  font-family: tme-fa-icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  content: "\00a0\00a0\e831";
}

label.toggle-button span:hover {
  background-color: #57c;
  border-color: #79e;
}

label.toggle-button span {
  display: inline-block;
  cursor: pointer;
  color: #eee;
  background-color: #35a;
  border: 1px solid #57c;
  line-height: normal;
  padding: 0.4em;
  margin-top: 1px;
  margin-bottom: 1px;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.shopProduct {
  position: relative;
  height: 0;
  padding-bottom: 30.6666666667%;
  background: #2f4f4f;
  vertical-align: middle;
  margin-right: 2%;
  border: 1px solid #999;
  overflow: hidden;
}
.shopProduct div {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #69e;
  text-shadow: 2px 0px 1px #2f4f4f, 2px 2px 1px #2f4f4f, 0px 2px 1px #2f4f4f,
    -2px 2px 1px #2f4f4f, -2px 0px 1px #2f4f4f, -2px -2px 1px #2f4f4f,
    0px -2px 1px #2f4f4f, 2px -2px 1px #2f4f4f, 4px 0px 3px #2f4f4f,
    4px 4px 3px #2f4f4f, 0px 4px 3px #2f4f4f, -4px 4px 3px #2f4f4f,
    -4px 0px 3px #2f4f4f, -4px -4px 3px #2f4f4f, 0px -4px 3px #2f4f4f,
    4px -4px 3px #2f4f4f;
}
.shopProduct:hover div {
  color: #8af;
}
.shopProduct img {
  margin-top: 0.5em;
  max-width: 95%;
  max-height: 178px;
}
.emoji {
  margin: 0 5px;
}
