.tabs {
  display: flex;
  flex-wrap: wrap;
  > label {
    order: 1;
    display: block;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    font-weight: bold;
    transition: background ease 0.2s;
    background-color: #222;
    color: gray;
  }
  .tab {
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 1rem;
    background: #2e2f36;
  }
  > input[type="radio"] {
    display: none;
    &:checked + label {
      background: #2e2f36;
      color: gainsboro;
      + .tab {
        display: block;
      }
    }
  }
}

@media (max-width: 45em) {
  .tabs {
    .tab,
    > label {
      order: initial;
    }
    > label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
  }
}
